
body
{
    background-color: #97D2EC;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-size: large;
}
/*
    hr
    {
        border-color:white;
        border-width:10px;
        border-style: none;
        border-top-style: dotted;
        height: 4px;
        width: 10%;
    }
*/
hr
{
    border-color:white;
    border-width:4px;
    border-style: none;
    border-top-style:solid;
}
h2{
    color: #0081C9;
    font-family: cursive;
    font-size: xx-large;
}

h3
{
    color: #0081C9;
}